*{
 margin: 0;
 padding:0;
 box-sizing:border-box;

}
.hero{
   height: 100%;
     width: 100%;
         background-position: center;
     background-size: cover;
     position: absolute;
}
   
    
.menu{
   background: linear-gradient(to right,rgb(213, 171, 232),rgb(118, 74, 148), rgb(62, 23, 114) ) ;
   text-align: center;

}
.menu ul{
   display: inline-flex;
   list-style: none;
   color: #fff;
   
}
.menu ul li{
       width:100px;
       margin: 2px;
       padding:5px;
        text-align: center;
        font-size: 20px;

     
}
.menu ul li a{
      text-decoration: none;
      color: #000;
}
.active,.menu ul li:hover {
     background: rgba(165, 151, 214, 0.8);
     border-radius: 5px;
     width:70px; 
     height: 30px;
} 

.menu ul li img{

        width: 30px;
         margin: 0 ;
        cursor: pointer;
        margin-left:20px;
}

 input[type=text] {
        width: 140px;
        box-sizing: border-box;
        border: 2px solid rgb(233, 227, 227);
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('exit.png') ;      
        cursor: pointer;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
       transition: width 0.4s ease-in-out;
       float: right;
}
input[type=text]:focus {
        width: 100%;
}

.sec{
     width:100%;
      margin: 0 ;
       padding:0;
       height: 70%;
       box-sizing: border-box;

   example; -webkit-animation-duration:20s;
     animation:rotation 10s linear infinite;
     animation-name:example;
      
     
}
 @-webkit-keyframes example{
   
   from{ background-image: url("Screenshot.png");}
      to{background-image: url("phone3.png");}
         
}
 @keyframes example{
    from{ background-image: url("Screenshot.png");}
      to{background-image: url("phone3.png");}
   
         }

 h3{
   color: rgb(150, 60, 60);
   font-size: 50px;
  text-align: center;
 padding-top: 20%;
}
.puct{
   display:flex;
   width: 100%;
   margin: auto;
   border: 3px solid #506a2b;
   height: 50%;
   overflow: auto;
   float: left;
   
   
}